@import "~bootstrap/scss/bootstrap";

$main-text-color:#49515d;
$main-color:#6baed6;

body {
  position: relative;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #424242;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 15px;
  line-height: 1.6em;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url(./images/main_bg.png);
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.container.container-padding{
  padding-top: 135px !important;
}

.navbar {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &.stick-to-top {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #fefefe !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.15) !important;
  }

  .site-title {
    color: $main-text-color;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', Helvetica, sans-serif;
    line-height: 1;
  }

  .site-title .last-name {
    font-weight: bold;
    color: $main-color;

    span {
      display: inline-block;
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-10px) rotate(15deg) scale(1.2) !important;
      }
    }
  }
}

// desktop menu
#desktop-menu {
  .nav-item {
    &.active .nav-link {
      font-weight: bold;
      opacity: 1;

      &:after {
        width: 30px;
      }
    }

    .nav-link {
      cursor: pointer;
      display: block;
      position: relative;
      padding: 8px 0;
      margin: 0 16px;
      text-align: center;
      color: $main-text-color;
      font-size: 15px;
      line-height: 1;
      font-weight: 400;
      text-decoration: none;
      outline: none;
      opacity: 0.6;

      &:hover {
        opacity: 1;

        &:after {
          width: 30px;
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        margin: 0 auto;
        background-color: $main-color;
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        -ms-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
      }
    }
  }
}

// mobile menu
#mobile-menu {
  $itemHeight: 50px;
  $menuColor: #f7fbff #d1e5f0 #92c5de #6baed6;
  $top-font: 'Montserrat', sans-serif;
  $mid-font: 'Lato', sans-serif;

  @mixin transition($obj, $dur, $del, $obj2, $dur2, $del2) {
    -webkit-transition: $obj $dur $del, $obj2 $dur2 $del2;
    transition: $obj $dur $del, $obj2 $dur2 $del2;
  }

  span {
    display: inline-block;
  }

  ul {
    display: block;
    list-style-type: none;
    text-align: right;
  }


  .menu {
    position: relative;
    margin: 0;
    padding-left: 1.25em;
    cursor: pointer;
    width: 30px;
    height: 36px;
    text-align: right;
  }

  .click-blocker {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }

  .menu-close {
    font-size: 0em;
    opacity: 0;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;

    @include transition(all, 0.2s, 0s, null, null, null);
  }

  .menu-close-visible {
    font-size: 2em;
    opacity: 1;

    @include transition(all, 0.2s, 0.4s, null, null, null);

  }

  .menu-global {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $main-text-color;
    z-index: 9;
    @include transition(all, 0.2s, 0s, null, null, null);
  }

  .menu-top {
    top: 8px;
  }

  .menu-middle {
    top: 16px;
  }

  .menu-bottom,
  .menu-hidden {
    top: 24px;
  }

  .menu-text {
    color: #000;
    opacity: 0;
    font-size: 0em;
    padding: 10px 0;
    @include transition(all, 0.1s, 0s, null, null, null);
  }

  .expand {
    box-shadow: rgba(0, 0, 0, 0.1) -2.5px 5px 7.5px, rgba(0, 0, 0, 0.1) 2.5px 5px 7.5px;
    width: 200px;
    height: $itemHeight;
    background: $menuColor(length($menuColor));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    @include transition(all, 0.5s, 0s, left, 0.1s, 0s);

    &.active {
      span:before {
        content: '>';
        padding-right: 10px;
      }
    }

    &:hover {
      left: 10px;
      @include transition(all, 0.2s, 0s, null, null, null);
    }
  }

  .menu-top-expand {
    top: $itemHeight;
    background: nth($menuColor, 1);
    @include transition(all, 0.5s, 0.4s, left, 0.1s, 0s);
  }

  .menu-middle-expand {
    top: $itemHeight*2;
    background: nth($menuColor, 2);
    @include transition(all, 0.5s, 0.3s, left, 0.1s, 0s);
  }

  .menu-bottom-expand {
    top: $itemHeight*3;
    background: nth($menuColor, 3);
    @include transition(all, 0.5s, 0.2s, left, 0.1s, 0s);
  }

  .menu-text-expand {
    opacity: 0.6;
    padding: 10px;
    font-size: 1.3em;
    @include transition(all, 0.2s, 0.7s, font-size, 0.1s, 0s);
  }

  @for $i from 1 through length($menuColor) {
    .menu-hidden-expand:nth-child(#{$i}) {
      background: nth($menuColor, $i);
      top: $itemHeight*$i;
    }
  }

  .menu-hidden-expand:nth-child(4) {
    @include transition(all, 0.5s, 0.1s, left, 0.1s, 0s);
  }

  .menu-hidden-expand:nth-last-of-type(1) {
    height: $itemHeight*2;
  }

}

#content {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border-radius: 15px;
  -webkit-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}